.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 2%;
  height: 100%;
  /* width: 100%; */
}

.my-bank-app {
  display: flex;
  /* background-color: #61dafb; */
  width: 100%;
  min-height: 90vh;
}

.left-section {
  margin-right: 20px;
  border: 1px solid;
  width: 20%;
}

.right-section {
  width: 80%;
}
.left-section ul li:nth-of-type(3) {
  border-bottom: none;
}

.left-section ul {
  padding: 0;
    margin: 0;
    text-align: left;
    font-size: 20px;
}

.left-section ul li {
  padding: 17px;
  list-style: none;
  border-bottom: 1px solid #000;
  transition: all 0.5s ease;
}

.left-section ul li:hover {
  background-color: #eee;
}

.left-section ul li a {
  text-decoration: none;
  transition: all 0.5s ease;
}

.left-section ul li a:hover {
  color : blue;
}

table {
  border: 1px solid black;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  /* height: 550px; */
}

th,
td {
  padding: 20px;
  border: 1px solid black;
  /* width: 15%; */
  overflow: hidden;
}

.pagination {
  margin: 20px 0;
  display: flex;
  justify-content: flex-end;
}

.pagination .rows-per-page {
  margin: 0 100px;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}

.home {
  display: flex;
  flex-direction: column;
  min-width: 100vh;
  /* background-color: chocolate; */
  /* justify-content: flex-end; */
}
.filters {
  margin: 0 0 22px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters h2{
  margin: 0;
}

.bank-list {
  /* background-color: blueviolet; */
  min-height: 90vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.filters select, .filters input {
  padding: 10px;
  margin-left: 20px;
}

.table-row {
  transition: all 1.5s ease;
  cursor: pointer;
}

.table-row:hover {
  background-color: #eee;
}

.table-data a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.title {
  text-align: left;
  margin: 12px auto 16px auto;
}

.card {
  border: 1px solid #000;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 74vh;
  justify-content: space-evenly;
}

select {
  width: 150px;
  padding: 10px 7px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.input {
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

select:focus {
  outline: none;
  cursor: pointer;
}

.list-pagination-section {
  min-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border : 1px solid #000 */
}

.select-row {
  width: auto;
}

.loading, .error {
  display: flex;
  justify-content: center;
  align-items: center;
}